.navigation {
    float: right;
    height: 100%;
    margin: 0;
    padding-left: 0;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 40px 0px 40px;
    text-decoration: none;
    background-color: #101010;
}

.navigation a li {
    vertical-align: middle;
    display: table-cell;
    font-size: 25px;
    color: white;
}

.navigation a:hover {
    background-color: gray;
    color: #101010;

}

.header {
    background-color: #101010;
    white-space: 110%;
    padding: 10px 20px;
    margin: -10px;
}

.inner-header h1 {
    font-size: 25px;
    color: white;
}


#header, #footer {
    width: 100%;
    height: 100px;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    float: left;
}

#footer {
    margin-bottom: 0;
    margin-top: 50px;
    line-height: 15px;
    padding: 15px;
    float: left;

}

#main {
    width: 20%;
    height: 350px;
    margin-left: 20%;
    padding: 20px;
    float: left;

}

#main2 {
    width: 40%;
    height: 350px;
    margin-left: 1%;
    padding: 20px;
    float: left;

}

.rund {
    border-radius: 48%;
}


.result {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.card {
    width: 200px;
    margin: 20px;
}

.card-image {
    display: block;
    width: 200px;
    height: 150px;
}
