<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/css.css">
</head>

<body>

<button class="btn j-btn-request">click me</button>
<form method="POST" action="http://127.0.0.1:8000/api/v2/profile/" name="login" target="_blank">
    <input name="about" type="text" placeholder="О себе">
    <input name="username" type="text" placeholder="Введите имя">
    <input name="user" type="file">

    <button type="submit">click</button>
</form>

<div class="result j-result">Info</div>


<script src="/js/profile.js">

</script>
</body>
</html>